/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    list-style: none;
}
body {
    margin:0;
    padding:0;
}
.espace{
    display: flex;
    flex-direction: column;
    gap:35px;
}
:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}
header {
    display:flex;
    align-items:flex-start;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
    margin:auto;
}
.navbar {
    display:flex;
    justify-content: space-between;
    box-sizing: border-box;
}
.navbar .nav-links ul {
    display:flex;
    margin:0;
    padding:0;
}
.navbar .nav-links li {
    margin: 0 30px;
    padding-top:14px;
    border-top:2px solid transparent;  
}
.navbar .nav-links li:hover {
    border-color:#0065FC;
    color:#0065FC;
}
.logotitre{
    padding: 30px 50px 30px 50px;
}
a img{
    height: 19px;
}
.main-container {
    display:flex;
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
    margin:30px auto auto auto;
}

a {
    color: inherit;
    text-decoration: none;
}
.info-group{
    display:flex;
    flex-direction:column;
    gap: 35px;
}
.headline{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.section-title {
    font-size: 1.375rem;
    margin:0;
}
.section-subtitle {
    margin:0;
}
.search-bar {
    display: flex;
    align-items: center;
  }
.border-search{
    display:flex;
    border: 1px solid #F2F2F2;
    border-right: 0;
    border-radius: 15px 0 0 15px;
    overflow: hidden;

}
.location {
    width: 50px;
    height: 49px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background:#F2F2F2;
}
  
.search-input {
    width: 179px;
    outline:0;
    padding: 14px 24px 14px 24px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    border: 0;
}
  
.search-button {
    width: 132px;
    height: 51px;
    padding: 15px 16px;
    border-radius: 0 15px 15px 0;
    border: 1px solid #0065FC;
    background: #0065FC;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.search button i {
    display: none;
}
.filter {
    display:flex;
    align-items: center;
    gap:15px;
}
.Icon-filter{
    height: 42px;
    display:flex;
    align-items: center;
    gap: 10px;
    padding: 4px 19px;
    border-radius: 25px;
    border: 2px solid var(--grey-tint-2, #D9D9D9);
    cursor:pointer;

}
.Icon-filter:hover{
    height: 42px;
    display:flex;
    align-items: center;
    gap: 10px;
    padding: 4px 19px;
    border-radius: 25px;
    border: 2px solid var(--grey-tint-2, #D9D9D9);
    background: var(--blue-light, #DEEBFF);

}
.Nom-filtre {
    font-size: 1.063rem;
}
h3 {
    margin:0;
    font-size: 1.125rem;
}
.Infobar {
display:flex;
gap: 10px;
align-items: center;
}
.Infobar i{
    border-radius: 50%;
    border: 1px solid #F2F2F2;
    height: 24px;
    width: 24px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.Infobar h3{
    font-size: 16px;
    font-weight: 400;
}
.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}
.card-activite img {
    object-fit: cover;
}
.card-title {
    font-size: 16px;
}
.card-title-activite {
    font-size: 16px;
    padding: 20px 19px;
}
.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.hebergements-and-populaires section.hebergements {
    gap:30px;
}
.hebergements-and-populaires section .section-see-more{
    margin: 0;
}
/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-cards{
    display:flex;
    flex-wrap:wrap;
    gap:26px;
}
.hebergements-cards a{
    width: calc((100%/3) - 26px);
}
.hebergements-cards .card {
    display:flex;
    flex-direction: column;
    width: calc((100%/3)- 26px);
}

.hebergements-cards img {
    width: 100%;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-cards .card {
    display: flex;
    margin-top: 30px;
}

.populaires-cards img {
    width: 33%;
    height: 134px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content, .hebergements-cards .card-content  {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}
/****** Hebergements & Populaires selectors ***********/

.populaires-title, .hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.populaires-cards .card-title, .hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle, .hebergements-cards .card-subtitle {
    margin: 0;
    font-size: 0.875rem;
}

.populaires-cards .card-rating, .hebergements-cards .card-rating {
    margin-bottom: 5px;
}

.activites{
    display: flex;
    padding: 30px;
    flex-direction: column;
    gap: 30px;
}
.activite-card {
    display:flex;
    gap: 30px;
    justify-content: stretch;
}
.card-activite {
    display:flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
}
.card-content {
    display: flex;
    flex: 1;
}
.activite-card a {
    width: 100%;
    display:flex;
    flex:1;
}
.card-activite img {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 380px;
}
.footer {
    display:flex;
    align-items:flex-start;
    background: var(--Grey, #F2F2F2);

}
.sub-footer{
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    flex: 1 0 0;
    align-self: stretch;
}
.sub-footer ul {
    display: flex;
    padding: 0;
    flex-direction: column;
    gap: 15px;
    margin: 0;
}
/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    .card-activite img {
        height: 200px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
    header {
        flex-direction: column;
        align-items: center;
    }
    .navbar, .nav-links {
        width: 100%;
    }
    .navbar .navbar-links ul {
        width: 100%;
        justify-content: space-between;
    }
    .navbar .nav-links li {
        margin: 0;
        padding-bottom:14px;
        border-bottom:2px solid transparent;
        display:flex;
        width: 100%;
        border-top:0;
        padding-top:0;
    }
    .navbar .nav-links li a {
        text-align:center;
        width:100%;
    }
    .main-container{
        padding:0;
    }
    .info-group{
        padding:20px;
    }
    .search-button span{
        display: none;
    }
    .search-button i {
        display: block;
        color: white;
    }
    .search-bar {
        width: 100%;
    }
    .border-search {
        width: 100%;
    }
    .search-button {
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        border-radius: 15px 16px;
        width: 49px;
    }
    .search-input {
        width: 100%;
    }
}